<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">


    <title>스파무비 테스트</title>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <style>
        * {
            font-family: 'IBM Plex Sans KR', sans-serif;
        }
        .wrap {
            margin-top: 20px;
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .btn {
            margin-top: 70px;
            margin-bottom: 50px;
            padding: 5px;
        }
        .post {
            width: 600px;
            background-color: rgba(0, 130, 0, 0.8);

            margin: auto;
        }
        .dbContent {
            color: red;
        }
    </style>
    <script>
        $(document).ready(function () {
            listing()
        })

        function listing(){
            $.ajax({
            type: "GET",
            url: "/movie",
            data: {},
            success: function (response) {
                alert(response['msg'])

                let rows = response['all_movies']
                for (let i = 0; i < rows.length; i++) {
                        let title = rows[i]['title']
                        let content = rows[i]['content']

                        // 컨텐츠 넣기
                        let temp_html =`<p>
                                            <h5>title: </h5> <span class="dbContent">${title}</span>
                                            <h5>contents: </h5> <span class="dbContent">${content}</span>
                                        </p>
                        `

                        $('#post-content').append(temp_html)
                }
            }
            })
        }


        function posting() {
            let i
            for (i=0; i<10; i++)

             $.ajax({
                type: "POST",
                url: "/movie",
                data: {title_give:i, content_give:i},
                success: function (response) {
                    console.log(response['msg'])
                    window.location.reload()
                }
            })
        }

         function  removing(){
            $.ajax({
            type: "GET",
            url: "/remove",
            data: {},
            success: function (response) {
                alert(response['msg'])
                window.location.reload()
                }
        })
        }
    </script>
</head>

<body>
    <div class="wrap">
        <h1>Welcome SpaMovie</h1>
        <button onclick="posting()" class="btn">testing button</button>
        <div class="post">
            <div class="card-columns" id="post-content">
            </div>
        </div>

        <button onclick="removing()" type="button" class="btn btn-danger">DB 삭제!</button>
    </div>
</body>
</html>